{
    "extends": [
        "airbnb",
        "prettier",
        "prettier/react"
    ],
    "plugins": [
        "react",
        "prettier"
    ],
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    "jsx"
                ]
            }
        ],
        "prettier/prettier": "error",
        "max-len": [
            "warn",
            180
        ]
    },
    "env": {
        "node": true,
        "browser": true
    }
}