name: tests

on: [push]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - uses: actions/setup-node@v1
              with:
                  node-version: 12
            - run: yarn
            - run: npm test
            - uses: codecov/codecov-action@latest
              with:
                  token: ${{secrets.CODECOV_TOKEN}} #required
                  file: ./coverage/clover.xml #optional
                  flags: unittests #optional
                  name: bmw-connecteddrive-api #optional
